## Introduction

In this notebook, I gathered and processed datasets related to home values in TX and geographical informations of TX.

In [1]:
# Import packages
## General
import pandas as pd
import numpy as np
## geojson file
from urllib.request import urlopen
import json
import urllib
import requests

### Zipcode in TX
Latitude and longitude of zipcodes in TX\
Data source: [opendatasoft](https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/export/?refine.state=TX&location=11,29.78166,-95.33283&basemap=jawg.streets)

In [2]:
tx_zip = pd.read_csv('original_data/us-zip-code-latitude-and-longitude.csv', sep=';')
print(tx_zip.shape)
tx_zip.head()

(2743, 8)

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,76061,Lillian,TX,32.502674,-97.163470,-6,1,"32.502674,-97.16347"
1,78789,Austin,TX,30.326374,-97.771258,-6,1,"30.326374,-97.771258"
2,76102,Fort Worth,TX,32.753880,-97.329870,-6,1,"32.75388,-97.32987"
3,88545,El Paso,TX,31.694842,-106.299987,-7,1,"31.694842,-106.299987"
4,79058,Masterson,TX,35.837775,-101.892846,-6,1,"35.837775,-101.892846"

#### Make subsets of Houston, San Antonio, Dallas, and Austin
These four cities are in the top 10 biggest cities in the US

- Houston

In [49]:
hst_zip = tx_zip.query('City == "Houston"').copy()
print(hst_zip.shape)
hst_zip.head()

(182, 8)

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
6,77071,Houston,TX,29.647637,-95.517180,-6,1,"29.647637,-95.51718"
22,77006,Houston,TX,29.741878,-95.389440,-6,1,"29.741878,-95.38944"
68,77266,Houston,TX,29.833990,-95.434241,-6,1,"29.83399,-95.434241"
81,77268,Houston,TX,29.833990,-95.434241,-6,1,"29.83399,-95.434241"
91,77010,Houston,TX,29.754728,-95.362160,-6,1,"29.754728,-95.36216"

In [5]:
hst_zip.to_csv('processed_data/houston_zipcode_lat_lng.csv', index=False)

- San Antonio

In [6]:
sa_zip = tx_zip.query('City == "San Antonio"').copy()
print(sa_zip.shape)
sa_zip.head()

(90, 8)

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
47,78239,San Antonio,TX,29.516130,-98.361610,-6,1,"29.51613,-98.36161"
95,78252,San Antonio,TX,29.335577,-98.701730,-6,1,"29.335577,-98.70173"
113,78295,San Antonio,TX,29.437532,-98.461582,-6,1,"29.437532,-98.461582"
124,78224,San Antonio,TX,29.333436,-98.539340,-6,1,"29.333436,-98.53934"
134,78291,San Antonio,TX,29.437532,-98.461582,-6,1,"29.437532,-98.461582"

In [7]:
sa_zip.to_csv('processed_data/san_antonio_zipcode_lat_lng.csv', index=False)

- Dallas

In [8]:
dls_zip = tx_zip.query('City == "Dallas"').copy()
print(dls_zip.shape)
dls_zip.head()

(122, 8)

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
8,75353,Dallas,TX,32.767268,-96.777626,-6,1,"32.767268,-96.777626"
16,75264,Dallas,TX,32.767268,-96.777626,-6,1,"32.767268,-96.777626"
29,75205,Dallas,TX,32.836094,-96.795240,-6,1,"32.836094,-96.79524"
39,75301,Dallas,TX,32.767268,-96.777626,-6,1,"32.767268,-96.777626"
51,75230,Dallas,TX,32.901176,-96.790540,-6,1,"32.901176,-96.79054"

In [9]:
dls_zip.to_csv('processed_data/dallas_zipcode_lat_lng.csv', index=False)

- Austin

In [10]:
ast_zip = tx_zip.query('City == "Austin"').copy()
print(ast_zip.shape)
ast_zip.head()

(83, 8)

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
1,78789,Austin,TX,30.326374,-97.771258,-6,1,"30.326374,-97.771258"
72,78773,Austin,TX,30.326374,-97.771258,-6,1,"30.326374,-97.771258"
103,78709,Austin,TX,30.326374,-97.771258,-6,1,"30.326374,-97.771258"
143,78745,Austin,TX,30.207559,-97.795750,-6,1,"30.207559,-97.79575"
173,78759,Austin,TX,30.406169,-97.757430,-6,1,"30.406169,-97.75743"

In [11]:
ast_zip.to_csv('processed_data/austin_zipcode_lat_lng.csv', index=False)

### Home Value 
Zillow Home Value Index (ZHVI) of different home types\
Data source: [Zillow](https://www.zillow.com/research/data/)

#### - Geographical level: City
Used for analyzing and visualizing historical data on the level of city

In [12]:
city_1b = pd.read_csv('original_data/City_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
city_2b = pd.read_csv('original_data/City_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
city_3b = pd.read_csv('original_data/City_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
city_4b = pd.read_csv('original_data/City_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
city_5b = pd.read_csv('original_data/City_zhvi_bdrmcnt_5_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
city_cd = pd.read_csv('original_data/City_zhvi_uc_condo_tier_0.33_0.67_sm_sa_mon.csv')
city_sfr = pd.read_csv('original_data/City_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv')

**Make subsets of TX and Clean the Dataframe**

In [13]:
def tx_subset(df, home_type):
    tx_df = df.query('State=="TX"').copy()
    tx_df['HomeType'] = home_type
    tx_df_c = tx_df.drop(columns=['RegionID', 'RegionType', 'StateName'])
    tx_df_c.rename(columns={'RegionName': 'City'}, inplace=True)
    cols = tx_df_c.columns.tolist()
    cols = cols[-1:] + cols[:-1] # cols[-1:] generates a list containing only the last column label
    tx_df_c = tx_df_c[cols]
    return tx_df_c

In [14]:
tx_city_1b = tx_subset(city_1b, 'One Bedroom')
print(tx_city_1b.shape)
tx_city_1b.head()

(533, 307)

,HomeType,SizeRank,City,State,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
2,One Bedroom,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,71747.0,71887.0,71918.0,72217.0,...,112149.0,112496.0,112742.0,113091.0,113346.0,114359.0,115396.0,116949.0,117962.0,118954.0
4,One Bedroom,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,58982.0,58733.0,58584.0,58289.0,...,99864.0,100000.0,100102.0,100765.0,101131.0,101489.0,101997.0,102704.0,103607.0,104068.0
9,One Bedroom,9,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,84781.0,83314.0,82332.0,80381.0,...,141385.0,142657.0,143523.0,143912.0,143871.0,143744.0,143810.0,143904.0,144890.0,145525.0
10,One Bedroom,10,Austin,TX,Austin-Round Rock,Travis County,139202.0,138835.0,137509.0,136284.0,...,283760.0,286451.0,288454.0,290290.0,292319.0,294717.0,297636.0,300851.0,304298.0,307055.0
16,One Bedroom,16,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,88460.0,88603.0,88913.0,89334.0,...,158290.0,158688.0,158918.0,159877.0,160933.0,162646.0,165493.0,168208.0,170421.0,171486.0

In [15]:
tx_city_2b = tx_subset(city_2b, 'Two Bedrooms')
tx_city_3b = tx_subset(city_3b, 'Three Bedrooms')
tx_city_4b = tx_subset(city_4b, 'Four Bedrooms')
tx_city_5b = tx_subset(city_5b, 'Five Bedrooms And More')
tx_city_cd = tx_subset(city_cd, 'Condominium and Co-operative Homes')
tx_city_sfr = tx_subset(city_sfr, 'Single-family Residences')

**Concatenate the dataframes sliced above**

In [16]:
dfs = [tx_city_1b, tx_city_2b, tx_city_3b, tx_city_4b, tx_city_5b, tx_city_cd, tx_city_sfr]
tx_city_zhvi = pd.concat(dfs, ignore_index=True)
print(tx_city_zhvi.shape)
tx_city_zhvi.head()

(6542, 307)

,HomeType,SizeRank,City,State,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,One Bedroom,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,71747.0,71887.0,71918.0,72217.0,...,112149.0,112496.0,112742.0,113091.0,113346.0,114359.0,115396.0,116949.0,117962.0,118954.0
1,One Bedroom,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,58982.0,58733.0,58584.0,58289.0,...,99864.0,100000.0,100102.0,100765.0,101131.0,101489.0,101997.0,102704.0,103607.0,104068.0
2,One Bedroom,9,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,84781.0,83314.0,82332.0,80381.0,...,141385.0,142657.0,143523.0,143912.0,143871.0,143744.0,143810.0,143904.0,144890.0,145525.0
3,One Bedroom,10,Austin,TX,Austin-Round Rock,Travis County,139202.0,138835.0,137509.0,136284.0,...,283760.0,286451.0,288454.0,290290.0,292319.0,294717.0,297636.0,300851.0,304298.0,307055.0
4,One Bedroom,16,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,88460.0,88603.0,88913.0,89334.0,...,158290.0,158688.0,158918.0,159877.0,160933.0,162646.0,165493.0,168208.0,170421.0,171486.0

In [60]:
tx_city_zhvi.groupby('HomeType').count()

,SizeRank,City,State,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
HomeType,,,,,,,,,,,,,,,,,,,,,
Condominium and Co-operative Homes,236,236,236,222,236,61,61,61,61,61,...,236,236,236,236,236,236,236,236,236,236
Five Bedrooms And More,755,755,755,640,755,189,194,195,195,196,...,755,755,755,755,755,755,755,755,755,755
Four Bedrooms,1111,1111,1111,881,1111,270,276,276,276,277,...,1111,1111,1111,1111,1111,1111,1111,1111,1111,1111
One Bedroom,533,533,533,429,533,59,61,61,61,61,...,533,533,533,533,533,533,533,533,533,533
Single-family Residences,1529,1529,1529,1113,1529,308,312,312,312,313,...,1529,1529,1529,1529,1529,1529,1529,1529,1529,1529
Three Bedrooms,1314,1314,1314,996,1314,301,306,307,307,307,...,1314,1314,1314,1314,1314,1314,1314,1314,1314,1314
Two Bedrooms,1064,1064,1064,818,1064,204,207,207,207,208,...,1064,1064,1064,1064,1064,1064,1064,1064,1064,1064

In [17]:
tx_city_zhvi.to_csv('processed_data/tx_city_zhvi.csv', index=False)

#### - Geographical level: County
used for analyzing and visualizing changes in home values in 2020

In [18]:
county_1b = pd.read_csv('original_data/County_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
county_2b = pd.read_csv('original_data/County_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
county_3b = pd.read_csv('original_data/County_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
county_4b = pd.read_csv('original_data/County_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
county_5b = pd.read_csv('original_data/County_zhvi_bdrmcnt_5_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
county_cd = pd.read_csv('original_data/County_zhvi_uc_condo_tier_0.33_0.67_sm_sa_mon.csv')
county_sfr = pd.read_csv('original_data/County_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv')

In [43]:
county_1b.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1996-01-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,110947.0,...,483200.0,483864.0,484218.0,487222.0,491580.0,496258.0,499569.0,502890.0,505718.0,508243.0
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,91570.0,...,199958.0,200251.0,200585.0,201315.0,202173.0,203400.0,204635.0,205909.0,207097.0,207849.0
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,75472.0,...,110814.0,111199.0,111485.0,111880.0,112176.0,113304.0,114469.0,116189.0,117325.0,118459.0
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,63163.0,...,161131.0,162827.0,164452.0,166134.0,168442.0,171194.0,174120.0,177135.0,180211.0,183758.0
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,89296.0,...,348571.0,350142.0,350890.0,352081.0,354405.0,358228.0,362215.0,365770.0,369302.0,373088.0

**Make subsets of TX and Clean the Dataframe**

In [19]:
def tx_county_clean(df, home_type):
    df1 = df.query('State=="TX"').copy()
    
    df1['StateCodeFIPS'] = df1['StateCodeFIPS'].astype(str)
    df1['MunicipalCodeFIPS'] = df1['MunicipalCodeFIPS'].astype(str).str.rjust(3, fillchar='0')
    df1['FIPS'] = df1['StateCodeFIPS'] + df1['MunicipalCodeFIPS']
    
    df1.drop(columns=['RegionID', 'RegionType', 'StateName', 'StateCodeFIPS', 'MunicipalCodeFIPS'], inplace=True)
    df1.rename(columns={'RegionName': 'CountyName'}, inplace=True)
    df1['HomeType'] = home_type
    
    cols = df1.columns.tolist()
    cols = cols[-2:] + cols[:-2]
    df1 = df1[cols]
    return df1

In [20]:
tx_county_1b = tx_county_clean(county_1b, 'One Bedroom')
tx_county_1b.head()

,FIPS,HomeType,SizeRank,CountyName,State,Metro,1996-01-31,1996-02-29,1996-03-31,1996-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
2,48201,One Bedroom,2,Harris County,TX,Houston-The Woodlands-Sugar Land,75472.0,75616.0,75610.0,75889.0,...,110814.0,111199.0,111485.0,111880.0,112176.0,113304.0,114469.0,116189.0,117325.0,118459.0
8,48113,One Bedroom,8,Dallas County,TX,Dallas-Fort Worth-Arlington,NaN,NaN,NaN,NaN,...,138796.0,140029.0,140842.0,141286.0,141354.0,141388.0,141588.0,141790.0,142816.0,143450.0
15,48439,One Bedroom,15,Tarrant County,TX,Dallas-Fort Worth-Arlington,70696.0,70880.0,71166.0,71644.0,...,137116.0,138058.0,139151.0,140695.0,142396.0,143296.0,145292.0,146959.0,149424.0,150915.0
18,48029,One Bedroom,18,Bexar County,TX,San Antonio-New Braunfels,62618.0,62350.0,62190.0,61888.0,...,102004.0,102082.0,102137.0,102791.0,103167.0,103558.0,104129.0,104910.0,105852.0,106297.0
38,48453,One Bedroom,38,Travis County,TX,Austin-Round Rock,140577.0,140238.0,138964.0,137736.0,...,280327.0,283048.0,285092.0,287006.0,289102.0,291535.0,294462.0,297703.0,301185.0,304000.0

In [21]:
tx_county_2b = tx_county_clean(county_2b, 'Two Bedrooms')
tx_county_3b = tx_county_clean(county_3b, 'Three Bedrooms')
tx_county_4b = tx_county_clean(county_4b, 'Four Bedrooms')
tx_county_5b = tx_county_clean(county_5b, 'Five Bedrooms And More')
tx_county_cd = tx_county_clean(county_cd, 'Condominium and Co-operative Homes')
tx_county_sfr = tx_county_clean(county_sfr, 'Single-family Residences')

**Concatenate the dataframes sliced above**

In [22]:
dfs = [tx_county_1b, tx_county_2b, tx_county_3b, tx_county_4b, tx_county_5b, tx_county_cd, tx_county_sfr]
tx_county_zhvi = pd.concat(dfs, ignore_index=True)
print(tx_county_zhvi.shape)
tx_county_zhvi.head()

(1273, 307)

,FIPS,HomeType,SizeRank,CountyName,State,Metro,1996-01-31,1996-02-29,1996-03-31,1996-04-30,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,48201,One Bedroom,2,Harris County,TX,Houston-The Woodlands-Sugar Land,75472.0,75616.0,75610.0,75889.0,...,110814.0,111199.0,111485.0,111880.0,112176.0,113304.0,114469.0,116189.0,117325.0,118459.0
1,48113,One Bedroom,8,Dallas County,TX,Dallas-Fort Worth-Arlington,NaN,NaN,NaN,NaN,...,138796.0,140029.0,140842.0,141286.0,141354.0,141388.0,141588.0,141790.0,142816.0,143450.0
2,48439,One Bedroom,15,Tarrant County,TX,Dallas-Fort Worth-Arlington,70696.0,70880.0,71166.0,71644.0,...,137116.0,138058.0,139151.0,140695.0,142396.0,143296.0,145292.0,146959.0,149424.0,150915.0
3,48029,One Bedroom,18,Bexar County,TX,San Antonio-New Braunfels,62618.0,62350.0,62190.0,61888.0,...,102004.0,102082.0,102137.0,102791.0,103167.0,103558.0,104129.0,104910.0,105852.0,106297.0
4,48453,One Bedroom,38,Travis County,TX,Austin-Round Rock,140577.0,140238.0,138964.0,137736.0,...,280327.0,283048.0,285092.0,287006.0,289102.0,291535.0,294462.0,297703.0,301185.0,304000.0

In [61]:
tx_county_zhvi.groupby('HomeType').count()

,FIPS,SizeRank,CountyName,State,Metro,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
HomeType,,,,,,,,,,,,,,,,,,,,,
Condominium and Co-operative Homes,87,87,87,87,75,13,13,13,13,13,...,87,87,87,87,87,87,87,87,87,87
Five Bedrooms And More,184,184,184,184,118,15,16,16,16,16,...,184,184,184,184,184,184,184,184,184,184
Four Bedrooms,208,208,208,208,123,16,16,16,16,16,...,208,208,208,208,208,208,208,208,208,208
One Bedroom,165,165,165,165,109,12,12,12,12,12,...,165,165,165,165,165,165,165,165,165,165
Single-family Residences,211,211,211,211,124,16,16,16,16,16,...,211,211,211,211,211,211,211,211,211,211
Three Bedrooms,211,211,211,211,124,16,16,16,16,16,...,211,211,211,211,211,211,211,211,211,211
Two Bedrooms,207,207,207,207,122,16,16,16,16,16,...,207,207,207,207,207,207,207,207,207,207

In [23]:
tx_county_zhvi.to_csv('processed_data/tx_county_zhvi.csv', index=False)

#### - Geographical level: Zip code
used for visualizing regional home value changes in four major cities in TX: Houston, Dallas, San Antonio, and Austin

In [24]:
zip_1b = pd.read_csv('original_data/Zip_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
zip_2b = pd.read_csv('original_data/Zip_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
zip_3b = pd.read_csv('original_data/Zip_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
zip_4b = pd.read_csv('original_data/Zip_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
zip_5b = pd.read_csv('original_data/Zip_zhvi_bdrmcnt_5_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
zip_cd = pd.read_csv('original_data/Zip_zhvi_uc_condo_tier_0.33_0.67_sm_sa_mon.csv')
zip_sfr = pd.read_csv('original_data/Zip_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv')

In [36]:
zip_1b.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,107876.0,...,689319.0,688401.0,687989.0,686916.0,685278.0,682705.0,681110.0,680490.0,681329.0,681740.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,107928.0,...,217151.0,217353.0,217807.0,218778.0,220062.0,221396.0,222713.0,224034.0,225383.0,226155.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,179075.0,...,764479.0,762927.0,763024.0,762572.0,762335.0,762696.0,764745.0,766037.0,768289.0,769852.0
3,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,123763.0,...,246589.0,246965.0,247455.0,247958.0,248226.0,248181.0,248364.0,249036.0,250130.0,250644.0
4,91940,5,77449,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,85415.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0

In [51]:
def tx_zip_clean(df, home_type):
    df1 = df.query('State=="TX"').copy()
    df1.drop(columns=['RegionID', 'RegionType', 'StateName'], inplace=True)
    df1.rename(columns={'RegionName': 'Zip'}, inplace=True)
    df1['HomeType'] = home_type
    
    cols = df1.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df1 = df1[cols]
    
    return df1

In [52]:
tx_zip_1b = tx_zip_clean(zip_1b, 'One Bedroom')
tx_zip_2b = tx_zip_clean(zip_2b, 'Two Bedrooms')
tx_zip_3b = tx_zip_clean(zip_3b, 'Three Bedrooms')
tx_zip_4b = tx_zip_clean(zip_4b, 'Four Bedrooms')
tx_zip_5b = tx_zip_clean(zip_5b, 'Five Bedrooms And More')
tx_zip_cd = tx_zip_clean(zip_cd, 'Condominium and Co-operative Homes')
tx_zip_sfr = tx_zip_clean(zip_sfr, 'Single-family Residences')

In [53]:
tx_zip_3b.head()

,HomeType,SizeRank,Zip,State,City,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
3,Three Bedrooms,3,77494,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,139241.0,139124.0,138747.0,...,257563.0,258676.0,259501.0,260008.0,260926.0,261896.0,263437.0,265217.0,267837.0,270195.0
5,Three Bedrooms,5,77449,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,88181.0,88155.0,88078.0,...,177705.0,178905.0,179592.0,180464.0,181461.0,183291.0,185065.0,187029.0,189029.0,191453.0
7,Three Bedrooms,7,77084,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,88394.0,88434.0,88381.0,...,174785.0,175784.0,176582.0,177590.0,178606.0,180229.0,181808.0,183781.0,185794.0,188211.0
8,Three Bedrooms,8,79936,TX,El Paso,El Paso,El Paso County,78826.0,78793.0,78758.0,...,130910.0,131212.0,131598.0,132303.0,133262.0,135052.0,137180.0,139262.0,141143.0,142847.0
12,Three Bedrooms,12,78660,TX,Pflugerville,Austin-Round Rock,Travis County,127326.0,127169.0,127069.0,...,254659.0,257135.0,259101.0,261453.0,264268.0,267868.0,271918.0,276748.0,281268.0,285544.0

In [54]:
dfs = [tx_zip_1b, tx_zip_2b, tx_zip_3b, tx_zip_4b, tx_zip_5b, tx_zip_cd, tx_zip_sfr]
tx_zip_zhvi = pd.concat(dfs, ignore_index=True)
print(tx_zip_zhvi.shape)
tx_zip_zhvi.head()

(8856, 308)

,HomeType,SizeRank,Zip,State,City,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,One Bedroom,5,77449,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,85415.0,85933.0,85411.0,...,137762.0,138753.0,139456.0,140111.0,140617.0,142016.0,143976.0,146953.0,149562.0,151943.0
1,One Bedroom,7,77084,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,NaN,NaN,NaN,...,76577.0,77027.0,76919.0,76625.0,76537.0,77399.0,78207.0,79330.0,80200.0,81305.0
2,One Bedroom,8,79936,TX,El Paso,El Paso,El Paso County,71714.0,71859.0,71920.0,...,126598.0,126755.0,126771.0,126906.0,127268.0,128754.0,130457.0,132365.0,133926.0,135485.0
3,One Bedroom,12,78660,TX,Pflugerville,Austin-Round Rock,Travis County,128670.0,128343.0,128164.0,...,283095.0,286015.0,288095.0,290701.0,293543.0,297360.0,301343.0,306291.0,310217.0,314021.0
4,One Bedroom,23,78130,TX,New Braunfels,San Antonio-New Braunfels,Comal County,NaN,NaN,NaN,...,201652.0,203276.0,205690.0,208608.0,211114.0,211626.0,213177.0,214649.0,217928.0,219209.0

In [55]:
tx_zip_zhvi.to_csv('processed_data/tx_zip_zhvi.csv', index=False)

#### Make subsets of Houston, San Antonio, Dallas, and Austin

- Houston

In [56]:
hst_zip_zhvi = tx_zip_zhvi.query('City == "Houston"').copy()
print(hst_zip_zhvi.shape)
hst_zip_zhvi.head()

(660, 308)

,HomeType,SizeRank,Zip,State,City,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
1,One Bedroom,7,77084,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,NaN,NaN,NaN,...,76577.0,77027.0,76919.0,76625.0,76537.0,77399.0,78207.0,79330.0,80200.0,81305.0
15,One Bedroom,61,77036,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,NaN,NaN,NaN,...,54968.0,55030.0,54767.0,54338.0,54309.0,54738.0,54895.0,54918.0,54805.0,54593.0
17,One Bedroom,72,77077,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,53292.0,53590.0,53280.0,...,93781.0,94029.0,93943.0,93808.0,93408.0,93248.0,93423.0,94371.0,95312.0,96035.0
39,One Bedroom,312,77082,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,NaN,NaN,NaN,...,108753.0,108830.0,108705.0,108839.0,108638.0,108046.0,107450.0,107020.0,106790.0,105950.0
41,One Bedroom,349,77007,TX,Houston,Houston-The Woodlands-Sugar Land,Harris County,NaN,NaN,NaN,...,234133.0,235533.0,236689.0,237361.0,236919.0,236690.0,237095.0,238311.0,239729.0,241567.0

Merge home value data and latitude/longitude data

In [79]:
# Latitude and longitude of zipcodes in Houston
hst_zip.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
6,77071,Houston,TX,29.647637,-95.517180,-6,1,"29.647637,-95.51718"
22,77006,Houston,TX,29.741878,-95.389440,-6,1,"29.741878,-95.38944"
68,77266,Houston,TX,29.833990,-95.434241,-6,1,"29.83399,-95.434241"
81,77268,Houston,TX,29.833990,-95.434241,-6,1,"29.83399,-95.434241"
91,77010,Houston,TX,29.754728,-95.362160,-6,1,"29.754728,-95.36216"

In [80]:
# Function to convert latitude/longitude to mercator coordinates
# for Bokeh geographical visualization
def x_coord(x, y):
    
    lat = x
    lon = y
    
    r_major = 6378137.000
    x = r_major * np.radians(lon)
    scale = x/lon
    y = 180.0/np.pi * np.log(np.tan(np.pi/4.0 + 
        lat * (np.pi/180.0)/2.0)) * scale
    return (x, y)

In [86]:
hst_data = pd.merge(hst_zip_zhvi, hst_zip[['Zip', 'Latitude', 'Longitude']], how='inner', on='Zip')
# generate a new column containing both lat/lng
hst_data['coordinates'] = list(zip(hst_data['Latitude'], hst_data['Longitude']))
# convert lat/lng to mercator and save the results in a list
mercator = [x_coord(x, y) for x, y in hst_data['coordinates']]
# pass the list to a new column created in hst_data
hst_data['mercator'] = mercator
# unpack the tuples in column 'mercator'
hst_data[['mercator_x', 'mercator_y']] = hst_data['mercator'].apply(pd.Series)
cols = hst_data.columns.tolist()
cols = cols[0:1]+cols[-6:]+cols[1:-6]
hst_data = hst_data[cols]

In [88]:
print(hst_data.shape)
hst_data.head()

(634, 314)

,HomeType,Latitude,Longitude,coordinates,mercator,mercator_x,mercator_y,SizeRank,Zip,State,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,One Bedroom,29.839155,-95.66391,"(29.839155, -95.66391)","(-10649257.748493552, 3482891.428221447)",-1.064926e+07,3.482891e+06,7,77084,TX,...,76577.0,77027.0,76919.0,76625.0,76537.0,77399.0,78207.0,79330.0,80200.0,81305.0
1,Two Bedrooms,29.839155,-95.66391,"(29.839155, -95.66391)","(-10649257.748493552, 3482891.428221447)",-1.064926e+07,3.482891e+06,7,77084,TX,...,134878.0,134722.0,134510.0,134473.0,135090.0,135807.0,136553.0,137263.0,138248.0,139252.0
2,Three Bedrooms,29.839155,-95.66391,"(29.839155, -95.66391)","(-10649257.748493552, 3482891.428221447)",-1.064926e+07,3.482891e+06,7,77084,TX,...,174785.0,175784.0,176582.0,177590.0,178606.0,180229.0,181808.0,183781.0,185794.0,188211.0
3,Four Bedrooms,29.839155,-95.66391,"(29.839155, -95.66391)","(-10649257.748493552, 3482891.428221447)",-1.064926e+07,3.482891e+06,7,77084,TX,...,214566.0,215752.0,216553.0,217617.0,218948.0,221149.0,223188.0,225643.0,228202.0,231319.0
4,Five Bedrooms And More,29.839155,-95.66391,"(29.839155, -95.66391)","(-10649257.748493552, 3482891.428221447)",-1.064926e+07,3.482891e+06,7,77084,TX,...,250844.0,251967.0,252652.0,253621.0,254907.0,257432.0,259777.0,262232.0,264621.0,267516.0

In [89]:
hst_data.to_csv('processed_data/houston_zip_zhvi.csv', index=False)

- San Antonio

In [90]:
def zip_latlng(city, df_city_zip):
    city_zhvi = tx_zip_zhvi[tx_zip_zhvi['City'] == city].copy()
    df = pd.merge(city_zhvi, df_city_zip[['Zip', 'Latitude', 'Longitude']], how='inner', on='Zip')
    df['coordinates'] = list(zip(df['Latitude'], df['Longitude']))
    mercator = [x_coord(x, y) for x, y in df['coordinates']]
    df['mercator'] = mercator
    df[['mercator_x', 'mercator_y']] = df['mercator'].apply(pd.Series)
    cols = df.columns.tolist()
    cols = cols[0:1]+cols[-6:]+cols[1:-6]
    df = df[cols]
    return df

In [91]:
sa_data = zip_latlng("San Antonio", sa_zip)
print(sa_data.shape)
sa_data.head()

(345, 314)

,HomeType,Latitude,Longitude,coordinates,mercator,mercator_x,mercator_y,SizeRank,Zip,State,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,One Bedroom,29.412338,-98.70484,"(29.412338, -98.70484)","(-10987772.527631542, 3428232.836052308)",-1.098777e+07,3.428233e+06,47,78245,TX,...,151239.0,152383.0,151812.0,150622.0,148392.0,147524.0,146203.0,146023.0,144997.0,143557.0
1,Two Bedrooms,29.412338,-98.70484,"(29.412338, -98.70484)","(-10987772.527631542, 3428232.836052308)",-1.098777e+07,3.428233e+06,47,78245,TX,...,125309.0,125123.0,125071.0,125608.0,125961.0,126227.0,127043.0,128303.0,129528.0,130588.0
2,Three Bedrooms,29.412338,-98.70484,"(29.412338, -98.70484)","(-10987772.527631542, 3428232.836052308)",-1.098777e+07,3.428233e+06,47,78245,TX,...,179037.0,179495.0,179892.0,180396.0,181182.0,182251.0,183659.0,185126.0,186824.0,188587.0
3,Four Bedrooms,29.412338,-98.70484,"(29.412338, -98.70484)","(-10987772.527631542, 3428232.836052308)",-1.098777e+07,3.428233e+06,47,78245,TX,...,220335.0,221050.0,221817.0,222692.0,223751.0,224782.0,226084.0,227501.0,229467.0,231542.0
4,Five Bedrooms And More,29.412338,-98.70484,"(29.412338, -98.70484)","(-10987772.527631542, 3428232.836052308)",-1.098777e+07,3.428233e+06,47,78245,TX,...,251626.0,252110.0,252858.0,253805.0,255107.0,256503.0,258160.0,259809.0,261937.0,264333.0

In [92]:
sa_data.to_csv('processed_data/san_antonio_zip_zhvi.csv', index=False)

- Dallas

In [93]:
dls_data = zip_latlng('Dallas', dls_zip)
print(dls_data.shape)
dls_data.head()

(280, 314)

,HomeType,Latitude,Longitude,coordinates,mercator,mercator_x,mercator_y,SizeRank,Zip,State,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,One Bedroom,32.998786,-96.84436,"(32.998786, -96.84436)","(-10780664.84140047, 3895142.8263071277)",-1.078066e+07,3.895143e+06,75,75287,TX,...,130768.0,131411.0,132075.0,132894.0,133494.0,134710.0,135717.0,136993.0,137694.0,138026.0
1,Two Bedrooms,32.998786,-96.84436,"(32.998786, -96.84436)","(-10780664.84140047, 3895142.8263071277)",-1.078066e+07,3.895143e+06,75,75287,TX,...,215638.0,216985.0,218254.0,219737.0,221094.0,222441.0,224310.0,226046.0,228106.0,229027.0
2,Three Bedrooms,32.998786,-96.84436,"(32.998786, -96.84436)","(-10780664.84140047, 3895142.8263071277)",-1.078066e+07,3.895143e+06,75,75287,TX,...,296356.0,297519.0,298647.0,300235.0,302264.0,304527.0,307296.0,309738.0,312421.0,313918.0
3,Four Bedrooms,32.998786,-96.84436,"(32.998786, -96.84436)","(-10780664.84140047, 3895142.8263071277)",-1.078066e+07,3.895143e+06,75,75287,TX,...,470906.0,473318.0,475351.0,477865.0,479920.0,482143.0,485036.0,488770.0,493188.0,496003.0
4,Five Bedrooms And More,32.998786,-96.84436,"(32.998786, -96.84436)","(-10780664.84140047, 3895142.8263071277)",-1.078066e+07,3.895143e+06,75,75287,TX,...,744699.0,746714.0,750323.0,754132.0,758230.0,761789.0,768187.0,775214.0,783568.0,790133.0

In [94]:
dls_data.to_csv('processed_data/dallas_zip_zhvi.csv', index=False)

- Austin

In [95]:
ast_data = zip_latlng('Austin', ast_zip)
print(ast_data.shape)
ast_data.head()

(272, 314)

,HomeType,Latitude,Longitude,coordinates,mercator,mercator_x,mercator_y,SizeRank,Zip,State,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
0,One Bedroom,30.246309,-97.76087,"(30.246309, -97.76087)","(-10882690.267907413, 3535250.022342252)",-1.088269e+07,3.535250e+06,71,78704,TX,...,318243.0,320913.0,322640.0,324261.0,326036.0,328482.0,331464.0,334565.0,337297.0,339193.0
1,Two Bedrooms,30.246309,-97.76087,"(30.246309, -97.76087)","(-10882690.267907413, 3535250.022342252)",-1.088269e+07,3.535250e+06,71,78704,TX,...,534199.0,539647.0,544207.0,548711.0,553553.0,559031.0,566096.0,574783.0,583814.0,592339.0
2,Three Bedrooms,30.246309,-97.76087,"(30.246309, -97.76087)","(-10882690.267907413, 3535250.022342252)",-1.088269e+07,3.535250e+06,71,78704,TX,...,722286.0,729217.0,734881.0,742751.0,752283.0,763787.0,777320.0,792979.0,809317.0,825148.0
3,Four Bedrooms,30.246309,-97.76087,"(30.246309, -97.76087)","(-10882690.267907413, 3535250.022342252)",-1.088269e+07,3.535250e+06,71,78704,TX,...,1028340.0,1037744.0,1043578.0,1052430.0,1061978.0,1075616.0,1093031.0,1115803.0,1139128.0,1160205.0
4,Five Bedrooms And More,30.246309,-97.76087,"(30.246309, -97.76087)","(-10882690.267907413, 3535250.022342252)",-1.088269e+07,3.535250e+06,71,78704,TX,...,1286582.0,1297839.0,1303965.0,1315182.0,1326148.0,1342892.0,1365592.0,1395394.0,1424913.0,1451591.0

In [96]:
ast_data.to_csv('processed_data/austin_zip_zhvi.csv', index=False)